section {
  padding: 20px 0;

  h2 {
    color: #fff;
    padding-left: 20px;
  }
  .container {
    background-color: #0d0d0d;
    padding: 20px;
    border-radius: 10px;
  }
  .row {
    margin: 20px 0;
  }
}
